{% extends 'core/base.html' %}

{% load static %}
{% block title %}Acerca de{% endblock %}

{% block background %}{% static 'core/img/about-bg.jpg' %}{% endblock%}
{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading">Alejandro Serrano</h2>
            <p>
                Alejandro Serrano Catalina es un estudiante apasionado de Ingeniería Matemática, una disciplina que combina el rigor matemático con aplicaciones prácticas en diversas áreas como la informática, la física, la economía y la ingeniería. Su interés por resolver problemas complejos y su curiosidad innata por comprender cómo funcionan los sistemas dinámicos lo llevaron a embarcarse en este desafiante y gratificante campo.

                Desde el inicio de su formación, Alejanro ha desarrollado competencias en áreas clave como el análisis numérico, la modelización matemática, la optimización y la inteligencia artificial. Su enfoque se centra en aplicar estos conocimientos para encontrar soluciones innovadoras a problemas reales, desde la simulación de fenómenos físicos hasta el análisis de datos y algoritmos predictivos.
            <p>
                Soy de madrid y cuando no estoy inmerso en ecuaciones y algoritmos, disfruto de todo lo que Madrid tiene para ofrecer: desde sus calles históricas, como el barrio de Las Letras, hasta la vibrante vida cultural de espacios como el Matadero o el Museo del Prado.
            </p>
        </div>
    </div>
{% endblock %}