{% extends 'core/base.html' %}

{% load static %}
{% block title %}Acerca de{% endblock %}

{% block background %}{% static 'core/img/about-bg.jpg' %}{% endblock%}
{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid avatar" src="{% static 'core/img/avatar1.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading">Alejandro Serrano</h2>
            <p>
                Soy Alejandro Serrano, estudiante de ingeniería matemática con un enfoque en la resolución de problemas complejos, el campo de ciberseguridad y el análisis de datos. Me apasiona aplicar modelos matemáticos y técnicas estadísticas avanzadas para transformar datos en decisiones estratégicas, apoyando a organizaciones en optimizar sus procesos y aumentar su eficiencia
            <p>
                Estoy interesado en explorar oportunidades en tecnología y ciencia de datos donde pueda contribuir con mi experiencia y seguir desarrollándome profesionalmente. ¡Siempre abierto a conectar!
            </p>
        </div>
    </div>
{% endblock %}