<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | Alejandro Serrano
        (Ingeniero)</title>
    
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/clean-blog.min.css' %}">

    <!-- Fuentes de Google -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    


</head>
<body>
    <h1>Mi Web Personal</h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">Alejandro Serrano</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <a class="navbar-brand" href="{% url 'home' %}">Menú</a>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Portada</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

            <header class="masthead" style="background-image: url('{% block background %}{% endblock %}')">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="site-heading">
                                {% block headers %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </header>

    <main class ="container mt-5">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-dark text-white text-center py-3 mt-5">
        <p>&copy; 2024 Alejandro Serrano. Todos los derechos reservados.</p>
    </footer>

    <!-- Bootstrap y Javascripts -->
    <!-- jQuery -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap JS Bundle -->
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Archivo JS personalizado -->
    <script src="{% static 'core/js/clean-blog.min.js' %}"></script>
    
</body>
</html>