{% extends 'core/base.html' %}

{% load static %}
{% block title %}Contacto{% endblock %}

{% block background %}{% static 'core/img/contacto.jpg' %}{%endblock %}
{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Trabajos relacionados con la ingenieria y los datos</span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>
            <a href="https://linkedin.com/in/alejandro-serrano-094145336" target="_blank">LinkedIn</a>

            <p>
            <p><a href="https://https://github.com/seerraa16" target="_blank">GitHub</a>
            </p>
            <p><a href="mailto:aserrcat@myuax.com">Enviar un correo a Alejandro</a> </p>
        </div>
    </div>
{% endblock %}